*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Header Section Starts */

#header{
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header{
  min-height: 8vh;
  background-color: rgba(31, 30, 30, 0.24);
  transition: .8s ease background-color;
}
#header .logo h1{
  color: crimson;
  font-size: 35px;
  font-family: 'Lobster', cursive;
}
.header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul{
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow: hidden;
  transition: .7s ease-in-out;
}
#header .nav-list ul.active{
  left: 0;
}
#header .nav-list ul a{
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
#header .nav-list ul a::after{
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 120px;
  z-index: -1;
  transition: .3s ease letter-spacing;
}
#header .nav-list ul li:hover a{
  color: crimson;
}
#header .nav-list ul li:hover a::after{
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: 15px;
}
#header .list{
  z-index: 100;
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(.8);
  margin-right: 20px;
}
#header .list .bar{
  height: 2px;
  width: 30px;
  position: relative;
  background-color: #fff;
  z-index: -1;
}
#header .list .bar::after,
#header .list .bar::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #fff;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .list .bar::after{
  top: 8px;
}
#header .list .bar::before{
  bottom: 8px;
}
#header .list.active .bar::before{
  bottom: 0;
}
#header .list.active .bar::after{
  top: 0;
}
/* Header Section Ends*/

/* Home section starts*/

#hero{
  background-image: url(./Pictures/poster.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}
#hero::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}
#hero img{
  border-radius: 50%;
  height: 250px;
  width: 250px;
  border: 5px solid white;
  display: flex;
  margin: auto;
}
#hero h1{
  display: block;
  width: fit-content;
  font-size: 45px;
  position: relative;
  margin: auto;
  margin-top: 15px;
  color: #fff;
}
#hero .box{
  display: flex;
  width: fit-content;
  font-size: 20px;
  position: relative;
  margin: auto;
  font-size: 35px;
  color: crimson;
  margin-top: 15px;
}
.box .h3{
  color: #fff;
  margin-right: 7.5px;
}
.typing2{
  display: inline-block;
}
#hero h1 span, #hero h3 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: crimson;
}
#hero .cta{
  padding: 10px 30px;
  color: #fff;
  width: 135px;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
#hero .cta:hover{
  color: white;
  background-color: crimson;
}
/* Home section ends */
/* About Section Starts */


.about h1{
  text-align: center;
  font-size: 35px;
}
.about h1 span{
  border-bottom: 1px dashed black;
  padding: 5px 15px;
}
#about{
  display: flex;
  width: 70%;
  margin: auto;
}
.left{
  
  width: 25%;
  padding: 20px;
  background-color: rgb(198, 207, 214);
}
.left h2{
  padding-bottom: 10px;
  border-bottom: 1px dashed grey;
  margin-bottom: 10px;
}
.left p{
  line-height: 20px;
}
.right{
  border: 1px solid red;
  width: 75%;
  padding: 10px;
}
/* Typing animation */

.right .box{
  display: flex;
  width: fit-content;
  position: absolute;
  margin: auto;
  font-size: 20px;
  color: crimson;
  margin-top: 15px;
}
.right .box .h3{
  color: black;
  
}
.right .typing2{
  display: inline-block;
}
.right p{
  text-align: justify;
  font-size: 17px;
  margin-top: 45px;
}
/* About Section Ends */

/* Skill section starts */

#skill .skill-bottom{
  height: 50px;
  width: 150px;
  margin-left: 50px;
  margin-top: 25px;
}
#skill .skill{
  flex-direction: column;
  text-align: center;
  max-width: 1500px;

}
.container{
  margin: auto;
}
.skill{
  width: 70%;
}
.skill-bottom{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
  width: 50%;
  margin-top: 50px;
  justify-content: space-around;

}
.skill-bottom > .skill-item{
  height: 150px;
  width: 120px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
}
.skill-bottom > .skill-item:hover{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.skill-bottom > .skill-item > .icon{
  margin-bottom: 25px;
}
.skill-bottom > .skill-item > .icon>img{
  height: 50%;
  width: 50%;
  margin-top: 25px;
}

/* Skill section ends */


/* Project Section Starts */

#projects .projects{
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}
#projects .project{
  width: 75vw;
}
#projects .projecttitle h1{
  margin-bottom: 40px;
}
#projects .project{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .projectName{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .details{
  padding: 30px;
  flex-basis: 50%;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
  line-height: 30px;
}
#projects .details h2{
  font-size: 25px;
  font-weight: 800;
  margin: auto;
  
}
#projects .details p{
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  margin: auto;
}
#projects .details h3{
  color: white;
  font-size: 25px;
  font-weight: 700;
  margin: auto;
}
#projects .details .button{
  display: flex;
  align-items: center;
  text-align: center;
  width: 50%;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 10px;
}
#projects .details .button a{
  height: 50px;
  width: 100px;
  text-decoration: none;
  color: white;
  background-color: #29323c;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#projects .image img{
  width: 100%;
  height: 100%;
}
#projects .image{
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .image::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .7;
}
#projects .image img{
  transition: .3s ease transform;
}
#projects .projectName:hover .image img{
  transform: scale(1.2);
}


/* Project Section Ends */



/* Media Quesries for desktop */
@media only screen and (min-width: 1200px){


  /* Start of Header */

  #header .list{
    display: none;
  }
  #header .nav-list ul{
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
    
  }
  #header .nav-list ul li{
    display: inline-block;
    
  }
  #header .nav-list ul li a::after{
    display: none;
  }
  /* End of Header */
/* Project Starts */

#projects .projectName{
  flex-direction: row;
}
#projects .projectName{
  height: 400px;
  margin: 0;
  width: 100%;
  border-radius: 0;
  margin-top: 25px;
  border-radius: 20px;
}
#projects .project .details{
  height: 100%;
}
#projects .project .image{
  height: 100%;
}

/* Project Ends */

}

/* Media Quesries for desktop */


/* Media Queries for medium screen */

/* Project starts */

@media only screen and (min-width: 768px) and (max-width: 1024px){


  .skill-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 50%;
    margin-top: 50px;
    padding-bottom: 25px;
  }

  #projects .projectName{
    flex-direction: row;
    font-size: 10px;
    /* margin-top: 25px; */
  }
  #projects .projectName{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
    margin-top: 25px;
    
  }
  #projects .project{
    width: 80vw;
  }
  #projects .project .details{
    height: 100%;
    
  }
  #projects .project .image{
    height: 100%;
  }



}


/* Project Ends */

@media all and (max-width: 767px){
  .skill-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 70%;
    margin-top: 50px;
    padding-bottom: 25px;
  }

}


/* Media Queries for medium screen */